@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

body{
    margin: 0;
    padding: 50px 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    display: grid;
    place-items: center; 
    height: 100vh;
    color: var(--white-color); 
    background-color: var(--main-bg);
}

span {
    color: var(--white);
}

.card {
    background-color: var(--card-bg);
    padding: 25px;
    min-height: 100vh;
}

.card .main-img {
    height: 300px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
}

.card h1 {
    font-size: 24px;
}

.card p {
    color: var(--soft-blue);
    align-content: flex-start;
}

.card .main-text {
    max-width: 300px;
}

.card .left {
    color: var(--cyan);
    display: inline-block;
    text-align: left;
    width: 50%;
}

.card .right {
    text-align: right;
    display: inline-block;
    width: 45%;
}

.card h1 {
    color: var(--white);
}

.line {
    height: 0.5px;
    width: 100%;
    background-color: var(--line);
    margin-bottom: 20px;
}

.card .creation::before {
    height: 20px;
    width: 100%;
    background-color: #fff;
}

.card .creation img {
    display: inline-block;
    border-radius: 50%;
    border-color: #ffffff;
    height: 35px;
    width: 35px;
}

.card .creation p {
    display: inline-block;
    text-align: center;
    margin: 0;
}
